<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="888c85">  <td>21/11/30 15:13:55</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;PlaceOrderTest.AterTest()[pri:0, instance:Demo.DemoBlaze.PlaceOrderTest@69b2283a]">&lt;&lt;AterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="888c85">  <td>21/11/30 15:09:03</td>   <td>-292179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlaceOrderTest.place_order_feature()[pri:0, instance:Demo.DemoBlaze.PlaceOrderTest@69b2283a]">place_order_feature</td> 
  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="888c85">  <td>21/11/30 15:08:50</td>   <td>-305088</td> <td>&nbsp;</td><td title="&gt;&gt;PlaceOrderTest.setup()[pri:0, instance:Demo.DemoBlaze.PlaceOrderTest@69b2283a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@607932305</td>   <td></td> </tr>
</table>
